nav {
  background-color: rgba(255, 0, 0, 0.2);
  height: 77px;
  position: absolute;
  width: 90%;
  bottom: 2rem;
  left: 5%;
  border-radius: 50px;
  z-index: 1000;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;
}
nav ul li {
  margin: 0;
  padding: 0;
  align-self: center;
}

nav ul li img {
  vertical-align: middle;
  width: auto;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
