nav {
  position: fixed;           
  left: 5%;
  right: 5%;                 
  bottom: 2rem;
  height: 77px;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 0.2);
  z-index: 10000;              
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px); 
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  list-style-type: none;
}
nav ul li {
  margin: 0;
  padding: 0;
  align-self: center;
}

nav ul li img {
  vertical-align: middle;
  width: auto;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

