@import "./styles/style-set.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;  
  overflow-x: hidden !important;
}
*::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #000;
}

img,
video,
iframe {
  max-width: 100%;
}

button {
  font: inherit;
}

